<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8" >
    <title>Weather Data API</title>
</head>

<body>
    
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact-us">Contact Us</a>
    </nav>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date </p>
    <p>URL example: http://127.0.0.1:5000/api/v1/10/19881025 </p>
    <h2>Cats are awesome</h2>
    <p>Hello, this is my about page.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/L%27assassinat_de_l%27Archiduc_h%C3%A9ritier_d%27Autriche_et_de_la_Duchesse_sa_femme_%C3%A0_Sarajevo_suppl%C3%A9ment_illustr%C3%A9_du_Petit_Journal_du_12_juillet_1914.jpg" style="width: 400px">
    <br>
    <br>
    <a href="https://www.wikipedia.com">Google</a>

</body>

</html>