<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8" >
    <title>Weather Data API</title>
</head>

<body>
    
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact-us">Contact Us</a>
    </nav>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date </p>
    <p>URL example: http://127.0.0.1:5000/api/v1/10/1988-10-25 </p>
    <h2>Cats are awesome</h2>
    <p>Hello, this is not my first webpage.</p>
    <p>{{data|safe}}</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Taylor_Swift_at_the_2023_MTV_Video_Music_Awards_%283%29.png" style="width: 400px">
    <br>
    <br>
    <a href="https://www.google.com">Google</a>

</body>

</html>